html,
body,
#root {
  background: #000;
  color: #fff;
}

.slide::after {
  content: "";
  height: 3px;
  width: 0;
  @apply bg-yellow-500 absolute left-0 -bottom-2 transition-all ease-in-out duration-500;
}

.slide:hover::after {
  @apply w-full; 
}


.label{
  @apply text-slate-500 font-semibold text-xs
}

